*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    line-height:1.6;
}

/* Navbar */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#222;
}

nav h2{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

/* Sections */

section{
    padding:60px 80px;
}

#about{
    text-align:center;
    background:#f4f4f4;
}

/* Skills */

.skills-container{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    margin-top:20px;
}

.skill{
    background:#222;
    color:white;
    padding:10px 20px;
    border-radius:20px;
}

/* Cards */

.card,
.project-card{
    background:#f4f4f4;
    padding:20px;
    margin-top:15px;
    border-radius:10px;
}

/* Contact */

#contact p{
    margin-top:10px;
}

/* Footer */

footer{
    text-align:center;
    background:#222;
    color:white;
    padding:20px;
}